        body { background-color: #FFFFFF ; font-family: Verdana ; color:#666666 ; }
        header { background: #003058; font-family: Georgia ; color:#FFFFFF }
        h1 { line-height: 140% ; padding: .5rem }
        nav { font-weight: bold ; background-color: #F3F3F3 }
        h2 { color: #424242 ; font-family: Georgia }
        dt { color: #003058 ; font-weight: bold }
        .ut { color: #BA1C21 ; font-weight: bold }
        footer { font-size: .70rem ; text-align: center }
        #wrapper { width: 80% ; margin-right: auto ; margin-left: auto }
        #studenthero {background-image: url(students.jpg); height: 300}